/node_modules
/build
/package
/test-results

# Catch all dot files/dirs
.*

# Exceptions for build process
!.env.example

# Individual files
vite.config.*.timestamp-*
compose.yaml
*.md

# Exceptions
!.npmignore
!.gitignore