/build
/.svelte-kit
/package
/node_modules
/test-results
/coverage
/playwright-report
.*

vite.config.*.timestamp-*
*.log
stats.html
CLAUDE.md

!.github
!.env.example
!*ignore
!*rc
!.husky
!.node-version
!backend/.eslintrc.json